.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 70px;
}

.container li {
    margin: 50px 0;
    list-style: none;
}

.container li:first-child {
    margin: 70px 0 50px;
}

.container img {
    border-radius: 3px;
}

.container a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

.normal-text-li {
    height: 70px;
    margin: 70px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.normal-text-li a {
    font-size: 3rem;
}

/* ----- LOGO ----- */
.container img {
    max-height: 150px;
}

.nextjs {
    max-height: 300px !important;
}

.nodejs {
    max-height: 200px !important;
}

.nodejs-li {
    margin-top: 80px !important;
}

.react {
    max-height: 200px !important;
}

.mongodb {
    height: 120px !important;
}

.marked {
    max-height: 250px !important;
}

.mui {
    max-height: 200px !important;
}

.slugify {
    color: rgba(30, 83, 255, 0.849) !important;
}

.cookie {
    color: rgb(235, 100, 37) !important;
}

.bcryptjs {
    color: rgb(47, 102, 184) !important;
}

.slugify, .cookie, .bcryptjs {
    font-family: fantasy;
    letter-spacing: 5px !important;
}

/* MEDIA QUERY */
@media (max-width: 650px) {
    .container img  {
        max-width: 90%;
    }
}

/* HOVER */
@media (min-width: 1024px) {
    .container li img:hover  {
        transform: scale(1.45);
        transition: transform 0.5s;
    } 

    .container .normal-text-li a:hover {
        font-size: 6rem;
        transition: font-size 0.5s; 
    }
}