.dropdown {
    margin-left: 40px;
}

.dropdown-button {
    position: relative;
    top: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.dropdown-content {
    display: block;
    position: absolute;
    min-width: 120px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    transform: translate(-60px, 5px);
    z-index: 999;
}

.dropdown-content a {
    display: block;
    text-align: right;
    color: #000 !important;
    padding: 16px 16px 16px 10px;
}

.dropdown-content a:hover {
    background-color: rgb(47, 102, 184);
    color: #fff !important;
}


/* HIDDEN AND SHOW */
.show-860, .show-450 {
    display: none;
}

/* SHOW AT 860PX */
@media (max-width: 860px) {
    .show-860 {
        display: block;
    }

    .dropdown-content {
        transform: translate(-170px, 2px);
        min-width: 220px;
    }
    
    .dropdown {
        margin-left: 20px;
    }
}

/*AT 450PX */
@media (max-width: 450px) {
    /* show */
    .show-450 {
        display: block;
    }

    /* delete dropdown button margin */
    .dropdown-button {
        margin-right: 0;
    }
}