.flex-container {
    display:flex;
    min-height: 105vh;
    flex-direction: column;
}

.flex-body {
    padding-top: 80px;
}

.flex-footer {
    margin-top: auto;
}

@media (max-width: 450px) {
    .flex-body {
        padding-top: 65px;
    }
}