.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 1200px;
    margin: 0 auto;
}

/* BRAND */
.blog-brand {
    display: flex;
    height: 100%;
    align-items: center;
}

/* brand and workspace span */
.blog-brand-span, .workspace-span {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;   
}

.blog-brand-span {
    margin-right: 40px;
}

.blog-brand h1 {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.blog-brand a {
    text-decoration: none;
    color: inherit;
}

/* RIGHT NAV */
.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav a {
    text-decoration: none;
}

.main-nav p {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: rgb(96, 163, 250);
}

.main-nav p:hover {
    color:rgba(255, 255, 255, 0.733);
}

/* activeClassName */
.active p {
    color: #fff;
}

/* MEDIA QUERY */
/* nav */
@media (max-width: 1250px) {
    .nav {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .nav {
        margin: 0;
        width: 100%;
    }
    .blog-brand-span {
        padding-left: 20px;
    }
}

/* AT 860PX */
@media (max-width: 860px) {
    .hide-860 {
        display: none;
    }
    .workspace-brand {
        transform: translate(0px, 2px);
    }
    .workspace-brand h1 {
        font-size: 1.3rem;
        
    }
    .hide-workspace-brand {
        display: none;
    }
    .workspace-span {
        padding: 0 10px;
    }
    .blog-brand-span {
        margin-right: 25px;
    }
}

/* hide tech at 450px */
@media (max-width: 450px) {
    .hide-450 {
        display: none;
    }
}