.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 1200px;
    margin: 0 auto;
}

/* BRAND */

.blog-brand {
    display: flex;
    align-items: center;
}

.blog-brand h1 {
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 100%;
}

.blog-brand a {
    text-decoration: none;
    color: inherit;
    margin-right: 40px;
}

/* RIGHT NAV */
.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.main-nav a {
    text-decoration: none;
    color: inherit;
}

.main-nav p {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: rgb(96, 163, 250);
}

.main-nav p:hover {
    color:rgba(255, 255, 255, 0.733);
}

/* activeClassName */
.active p {
    color: #fff;
}

/* MEDIA QUERY */
/* nav */
@media (max-width: 1250px) {
    .nav {
        width: 80%;
    }
}

@media (max-width: 650px) {
    .main-nav p {
        font-size: 0.7rem;
    }
}

@media (max-width: 375px) {
    .main-nav p {
        font-size: 0.65rem;
    }
}

/* HIDE BRAND AND WORKSPACE AT 860PX */
@media (max-width: 860px) {
    .hide-860 {
        display: none;
    }

    .workspace-brand {
        transform: translate(0px, 2px);
    }

    .workspace-brand h1 {
        font-size: 1.3rem;
        
    }

    .hide-workspace-brand {
        display: none;
    }

    .blog-brand a {
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    .blog-brand a {
        margin-right: 25px;
    }
}


/* hide others category at 520px */
@media (max-width: 520px) {
    .others {
        display: none;
    }
}

/* hide tech at 450px */
@media (max-width: 450px) {
    .hide-450 {
        display: none;
    }
}