/* NAV */

.nav-top {
    padding: 10px;
    text-align: left;
}

.nav-top button {
    margin-right: 20px;
}

/* FORM */
.form-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.heading {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form div {
    margin-bottom: 30px;
}

.form input {
    display: block;
    width: 400px;
    height: 40px;
}

.form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 2.5px;
}

.form .secondary-input {
    height: 30px;
}

.form .desc {
    height: 50px;
}

.form input::placeholder {
    text-align: center;
}

.expand-button {
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 30px;
    cursor: pointer;
}

.form textarea {
    width: 1000px;
    padding: 20px;
    font-size: 1rem;
    line-height: 175%;
}

.form select {
    height: 30px;
    cursor: pointer;
}

.form select {
    font-size: 1rem;
}

.form img {
    max-height: 300px;
    max-width: 900;
}

.two-buttons {
    display: flex;
    flex-direction: column;
}

.submit-button, .preview-button {
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button {
    background-color: rgb(100, 177, 240);
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 100px;
}

.preview-button {
    display: block;
    background-color: rgb(156, 151, 156);
    color: #fff;
    border: 1px solid #000;
}

/* media query */
@media (max-width: 900px) {
    .form img {
        width: 90%;
        min-width: 300px;
    }
}

@media (max-width: 450px) {
    .form input {
        width: 330px;
    }
}

/* textarea */
@media (max-width: 1000px) {
    .form textarea {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .form textarea {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .form textarea {
        width: 350px;
    }
}

@media (max-width: 450px) {
    .form textarea {
        width: 330px;
    }
}