/* NAV */
.nav-top {
    padding: 10px;
    text-align: left;
}

.nav-top button {
    margin-right: 20px;
}

/* --------- FORM --------- */
.form-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.heading {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form div {
    margin-bottom: 30px;
}

.form input {
    display: block;
    width: 400px;
    height: 40px;
}

.form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 2.5px;
}

.form .secondary-input {
    height: 30px;
}

.form .desc {
    height: 50px;
}

.form input::placeholder {
    text-align: center;
}

.form textarea {
    padding: 20px;
    font-size: 1rem;
    line-height: 175%;
}

.form select {
    height: 30px;
    cursor: pointer;
}

.form select {
    font-size: 1rem;
}

.form img {
    max-height: 300px;
    max-width: 900;
}

@media (max-width: 900px) {
    .form img {
        width: 90%;
        min-width: 300px;
    }
}

@media (max-width: 450px) {
    .form input {
        width: 330px;
    }
}

/* ------ EDIT & PREVIEW ------- */

/* preview and submit buttons */
.submit-button, .preview-button {
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button {
    background-color: rgb(100, 177, 240);
    color: #fff;
    border: 1px solid #000;
    margin-top: 70px;
    margin-bottom: 100px;
}

.preview-button {
    display: block;
    background-color: rgb(156, 151, 156);
    color: #fff;
    border: 1px solid #000;
    margin: 50px 0 10px;
}

/* edit-preview */
.edit-preview {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

.edit, .preview {
    flex-grow: 1;
    height: 80vh;
}

.edit textarea {
    max-width: 100%;
    width: 700px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.preview {
    transform: scale(0.9);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* hide preview when width is < 1700px */
@media (max-width: 1700px) {
    .edit-preview {
        display: block;
        max-width: 100%;
    }

    .edit {
        max-width: 100%;
        max-height: 100vh;
    }

    .preview-button, .preview, .card-preview {
        display: none;
    }
}

/* textarea */
@media (max-width: 1000px) {
    .edit textarea {
        max-width: 800px;
    }
}

@media (max-width: 900px) {
    .edit textarea {
        max-width: 600px;
    }
}

@media (max-width: 650px) {
    .edit textarea {
        max-width: 400px;
    }
}

@media (max-width: 450px) {
    .edit textarea {
        max-width: 330px;
    }
}
/* ----------------------------- */