.article-author-container {
    width: 1200px;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1300px) {
    .article-author-container {
        width: 100%;
        flex-direction: column;
    }
}