/* title and desc */
.title,
.desc {
    white-space: nowrap;
    overflow: hidden;
}

.title-a-tag {
    display: inline-block;
    margin: 10px 15px;
}

.title-h1-tag {
    font-weight: 600;
    font-size: 1.5rem;
}

.desc {
    color:rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    margin: 0 15px 15px;
    text-overflow:ellipsis;
}

/*  readmore & date */
.date-readmore {
    display: flex;
    justify-content: space-between;
}
.date-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.read-more-a-tag {
    text-decoration: none;
    color: inherit;
}

/* card */
.card {
    width: 550px;
    margin: 0 auto 30px;
}

.card a {
    text-decoration: none;
    color: inherit;
}

/* media query */
@media (max-width: 700px) {
    .card {
        width: 450px;
    }

    .title {
        font-size: 1.2rem;
    }

    .desc {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    .card {
        width: 100%;
        min-width: 300px;
    }

    .title {
        font-size: 1rem;
        margin: 10px 15px 5px;
    }

    .desc {
        margin: 0 15px 15px;
    }
}


