.nav-top {
    text-align:right;
    padding: 10px 30px;
    min-width: 300px;
}

.nav-top a {
    text-decoration: none;
    color: inherit;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-left {
    flex-grow: 1;
    max-width: 50%;
    text-align: left;
}

.flex-left button {
    margin-right: 20px;
}

.flex-right {
    flex-grow: 1;
    min-width: 50%;
    text-align: right;
}

@media (max-width: 450px) {
    .nav-top {
        padding: 10px 10px;
    }
}